#necessário ativar o modrewrite do apache
#http://askubuntu.com/questions/48362/how-to-enable-mod-rewrite-in-apache

#Ativando url amigável
#RewriteEngine on
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ index.php?r=$1 [L,QSA]

Options -Indexes
php_flag display_errors on
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !.*/assets/.*
RewriteCond %{REQUEST_FILENAME} !.*/uploads/.*
RewriteRule .* index.php

php_flag session.use_only_cookies on
php_flag session.use_trans_sid off
