.name_admin{font-size:27px;}
.widget-content>table>thead>tr>th{text-align: center;}
.alert{padding: 15px;border: 1px solid transparent;border-radius: 4px;position: fixed;margin: 0;width: 100%;text-align: center;bottom: 0;}
